<ion-view title="購物清單" id="page9" style="background-color:#95F0EC;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <!-- Q2
https://forum.ionicframework.com/t/phone-calls-from-ng-href-link-doesnt-work-on-ios-and-android-device/27690
-->
            <ion-item class="item-thumbnail-left item-icon-right balanced" href="tel:3100 0076">
                <img src="img/FrR0aT1jSmuP6Z6ItYDH_CR1.jpg">
                <h2balanced>立刻叫外賣
                <p>3100 0076</p>
                    <i class="icon ion-android-call"></i>
                </h2balanced>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 17px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right assertive" href="tel:3954 5867">
                <img src="img/fG9XxRLESanAu1AJQOuI_CR2.jpg">
                <h2assertive>立刻叫外賣
                    <p>3954 5867</p>
                    <i class="icon ion-android-call"></i>
                </h2assertive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right energized" href="tel:">
                <img src="img/KRGp1ZqvSYCde44DbtBp_CR3.jpg" href="tel:2561 8123">
                <h2energized>立刻叫外賣
                <p>2561 8123</p>
                    <i class="icon ion-android-call"></i>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>