<ion-view title="首頁" id="page5" style="background-color:#A1BFF1;">
    <ion-content padding="true" class="has-header">
        <div>
            <a style="display:block;" ui-sref="tabsController.restaurant1">
                <img src="img/LmhcclbATT6LAappvguR_HomeR1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div>
            <a style="display:block;" ui-sref="tabsController.restaurant2">
                <img src="img/XA9YwMB9S1Ob2TmaG7cF_HomeR2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div>
            <a style="display:block;" ui-sref="tabsController.restaurant3">
                <img src="img/8xbSvFDZRmeawq30e8sL_HomeR3.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>


    </ion-content>
</ion-view>